@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    background: #000000;
    display: flex;
    width: 100%;
    margin: 0 auto;
    color: #fff;
}

#app {
    width: 100%;
    margin: 0 auto;
}

.logo-icon {
    color: #f47521;
    fill: #f47521;
    display: block;
    transition: fill .2s ease;
}

.avatar {
    height: 360px;
    width: 360px;
    border-radius: 50%;
    border: 1px solid #ccc;
}